<div class="center">
  <h1>Custom Directives in Angular</h1>
</div>
<div class="tooltip-example">
  <div tooltip tooltext="Tooltip on Left" placement="left" delay="500">
    tooltip on left
  </div>
  <div tooltip tooltext="Tootip on Top" placement="top" delay="500">
    tooltip on top
  </div>
  <div tooltip tooltext="Tootip on Bottom" placement="bottom" delay="500">
    tooltip on bottom
  </div>
  <div tooltip tooltext="Tootip on Right" placement="right" delay="500">
    tooltip on right
  </div>
</div>
